/* tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .box:nth-child(3) {
    width: 100% !important;
    max-width: fit-content !important;
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column !important;
  }

  .box {
    max-width: 100% !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 150px;
  font-family: "Encode Sans SC", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  margin: 0 50px 0 50px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .box {
    max-width: 300px !important;
  }

  .container {
    flex-wrap: wrap;
    margin: 0;
  }
}

.box {
  background-color: gray;
  text-align: center;
  height: 275px;
  max-width: 430px;
  margin: 20px;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.box > p {
  text-align: center;
  font-family: "Encode Sans SC", sans-serif;
}

.box > span {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 100px;
  height: 30px;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Encode Sans SC", sans-serif;
}

.box:nth-child(2) span {
  color: white;
}

#id1 > span:nth-child(1) {
  background-color: pink;
}

#id2 > span:nth-child(1) {
  background-color: red;
}

#id3 > span:nth-child(1) {
  background-color: yellow;
}
